In [3]:
import numpy as np
import pandas as pd
import os
from os.path import join

path = os.getenv('HOME')+'/Desktop/Changhee/changhee_git/Kaggle_contest/predict-future-sales/data/'

sales = pd.read_csv(path + 'sales_train.csv')
items = pd.read_csv(path + 'items.csv')
item_categories = pd.read_csv(path + 'item_categories.csv')
shops = pd.read_csv(path + 'shops.csv')
test = pd.read_csv(path + 'test.csv')
sample_sub = pd.read_csv(path + 'sample_submission.csv')

In [4]:
sales.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [5]:
sales['date'] = pd.to_datetime(sales['date'], format ='%d.%m.%Y')

In [6]:
dataset = sales.pivot_table(index = ['shop_id', 'item_id'], values = ['item_cnt_day'], columns = ['date_block_num'],
                           fill_value = 0, aggfunc = 'mean')

In [7]:
dataset.reset_index(inplace = True)

In [8]:
dataset.head()

               shop_id item_id item_cnt_day                                \
date_block_num                            0         1    2    3    4    5
0                    0      30          0.0  3.444444  0.0  0.0  0.0  0.0
1                    0      31          0.0  1.571429  0.0  0.0  0.0  0.0
2                    0      32          1.5  1.428571  0.0  0.0  0.0  0.0
3                    0      33          1.0  1.000000  0.0  0.0  0.0  0.0
4                    0      35          1.0  1.272727  0.0  0.0  0.0  0.0

                          ...                                               \
date_block_num    6    7  ...   24   25   26   27   28   29   30   31   32
0               0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1               0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2               0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3               0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4               0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0


date_block_num   33
0               0.0
1               0.0
2               0.0
3               0.0
4               0.0

[5 rows x 36 columns]

In [9]:
dataset = pd.merge(test, dataset, on = ['item_id', 'shop_id'], how = 'left')

/home/aiffel/anaconda3/envs/aiffel/lib/python3.7/site-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)
/home/aiffel/anaconda3/envs/aiffel/lib/python3.7/site-packages/pandas/core/generic.py:3936: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [10]:
dataset.fillna(0, inplace = True)

In [11]:
dataset.head()

,ID,shop_id,item_id,"(item_cnt_day, 0)","(item_cnt_day, 1)","(item_cnt_day, 2)","(item_cnt_day, 3)","(item_cnt_day, 4)","(item_cnt_day, 5)","(item_cnt_day, 6)",...,"(item_cnt_day, 24)","(item_cnt_day, 25)","(item_cnt_day, 26)","(item_cnt_day, 27)","(item_cnt_day, 28)","(item_cnt_day, 29)","(item_cnt_day, 30)","(item_cnt_day, 31)","(item_cnt_day, 32)","(item_cnt_day, 33)"
0,0,5,5037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0
1,1,5,5320,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,5,5233,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.5,1.0,0.0,1.0,1.0,1.0
3,3,5,5232,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,4,5,5268,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
dataset.drop(['shop_id', 'item_id', 'ID'], inplace = True, axis =1)
dataset.head()

,"(item_cnt_day, 0)","(item_cnt_day, 1)","(item_cnt_day, 2)","(item_cnt_day, 3)","(item_cnt_day, 4)","(item_cnt_day, 5)","(item_cnt_day, 6)","(item_cnt_day, 7)","(item_cnt_day, 8)","(item_cnt_day, 9)",...,"(item_cnt_day, 24)","(item_cnt_day, 25)","(item_cnt_day, 26)","(item_cnt_day, 27)","(item_cnt_day, 28)","(item_cnt_day, 29)","(item_cnt_day, 30)","(item_cnt_day, 31)","(item_cnt_day, 32)","(item_cnt_day, 33)"
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.5,1.0,0.0,1.0,1.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
# X 는 맨마지막 행을 제외한 모든 행을 유지
X_train = np.expand_dims(dataset.values[:,:-1], axis = 2)

# 맨 마지막 행은 라벨
y_train = dataset.values[:,-1:]

# 테스트를 위해 첫행을 제외한 모든 행을 유지

X_test = np.expand_dims(dataset.values[:,1:], axis =2)

print(X_train.shape, y_train.shape, X_test.shape)

(214200, 33, 1) (214200, 1) (214200, 33, 1)

In [17]:
from keras.models import Sequential
from keras.layers import LSTM, Dense, Dropout

In [18]:
model = Sequential()
model.add(LSTM(units = 64, input_shape = (33,1)))
model.add(Dropout(0.4))
model.add(Dense(3))

model.compile(loss = 'mse', optimizer ='adam', metrics = ['mean_squared_error'])
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 64)                16896
_________________________________________________________________
dropout (Dropout)            (None, 64)                0
_________________________________________________________________
dense (Dense)                (None, 3)                 195
=================================================================
Total params: 17,091
Trainable params: 17,091
Non-trainable params: 0
_________________________________________________________________

In [19]:
model.fit(X_train, y_train, batch_size = 4096, epochs =50)

Epoch 1/50
53/53 [==============================] - 1s 13ms/step - loss: 1.3819 - mean_squared_error: 1.3819
Epoch 2/50
53/53 [==============================] - 1s 11ms/step - loss: 1.3679 - mean_squared_error: 1.3679
Epoch 3/50
53/53 [==============================] - 1s 11ms/step - loss: 1.3643 - mean_squared_error: 1.3643
Epoch 4/50
53/53 [==============================] - 1s 11ms/step - loss: 1.3584 - mean_squared_error: 1.3584
Epoch 5/50
53/53 [==============================] - 1s 11ms/step - loss: 1.3532 - mean_squared_error: 1.3532
Epoch 6/50
53/53 [==============================] - 1s 11ms/step - loss: 1.3562 - mean_squared_error: 1.3562
Epoch 7/50
53/53 [==============================] - 1s 11ms/step - loss: 1.3438 - mean_squared_error: 1.3438
Epoch 8/50
53/53 [==============================] - 1s 11ms/step - loss: 1.3409 - mean_squared_error: 1.3409
Epoch 9/50
53/53 [==============================] - 1s 11ms/step - loss: 1.3321 - mean_squared_error: 1.3321
Epoch 10/50
53/53 [==============================] - 1s 11ms/step - loss: 1.3267 - mean_squared_error: 1.3267
Epoch 11/50
53/53 [==============================] - 1s 11ms/step - loss: 1.3193 - mean_squared_error: 1.3193
Epoch 12/50
53/53 [==============================] - 1s 11ms/step - loss: 1.3172 - mean_squared_error: 1.3172
Epoch 13/50
53/53 [==============================] - 1s 11ms/step - loss: 1.3183 - mean_squared_error: 1.3183
Epoch 14/50
53/53 [==============================] - 1s 11ms/step - loss: 1.3527 - mean_squared_error: 1.3527
Epoch 15/50
53/53 [==============================] - 1s 11ms/step - loss: 1.3182 - mean_squared_error: 1.3182
Epoch 16/50
53/53 [==============================] - 1s 11ms/step - loss: 1.3110 - mean_squared_error: 1.3110
Epoch 17/50
53/53 [==============================] - 1s 11ms/step - loss: 1.3168 - mean_squared_error: 1.3168
Epoch 18/50
53/53 [==============================] - 1s 11ms/step - loss: 1.3105 - mean_squared_error: 1.3105
Epoch 19/50
53/53 [==============================] - 1s 12ms/step - loss: 1.3021 - mean_squared_error: 1.3021
Epoch 20/50
53/53 [==============================] - 1s 14ms/step - loss: 1.3027 - mean_squared_error: 1.3027
Epoch 21/50
53/53 [==============================] - 1s 13ms/step - loss: 1.2964 - mean_squared_error: 1.2964
Epoch 22/50
53/53 [==============================] - 1s 12ms/step - loss: 1.2760 - mean_squared_error: 1.2760
Epoch 23/50
53/53 [==============================] - 1s 12ms/step - loss: 1.2900 - mean_squared_error: 1.2900
Epoch 24/50
53/53 [==============================] - 1s 14ms/step - loss: 1.2967 - mean_squared_error: 1.2967
Epoch 25/50
53/53 [==============================] - 1s 14ms/step - loss: 1.3013 - mean_squared_error: 1.3013
Epoch 26/50
53/53 [==============================] - 1s 13ms/step - loss: 1.2832 - mean_squared_error: 1.2832
Epoch 27/50
53/53 [==============================] - 1s 13ms/step - loss: 1.2779 - mean_squared_error: 1.2779
Epoch 28/50
53/53 [==============================] - 1s 13ms/step - loss: 1.2783 - mean_squared_error: 1.2783
Epoch 29/50
53/53 [==============================] - 1s 14ms/step - loss: 1.2818 - mean_squared_error: 1.2818
Epoch 30/50
53/53 [==============================] - 1s 13ms/step - loss: 1.2690 - mean_squared_error: 1.2690
Epoch 31/50
53/53 [==============================] - 1s 13ms/step - loss: 1.2775 - mean_squared_error: 1.2775
Epoch 32/50
53/53 [==============================] - 1s 11ms/step - loss: 1.2594 - mean_squared_error: 1.2594
Epoch 33/50
53/53 [==============================] - 1s 13ms/step - loss: 1.2678 - mean_squared_error: 1.2678
Epoch 34/50
53/53 [==============================] - 1s 14ms/step - loss: 1.2765 - mean_squared_error: 1.2765
Epoch 35/50
53/53 [==============================] - 1s 14ms/step - loss: 1.2716 - mean_squared_error: 1.2716
Epoch 36/50
53/53 [==============================] - 1s 11ms/step - loss: 1.2546 - mean_squared_error: 1.2546
Epoch 37/50
53/53 [==============================] - 1s 12ms/step - loss: 1.2786 - mean_squared_error: 1.2786
Epoch 38/50
53/53 [==============================] - 1s 14ms/step - loss: 1.2561 - mean_squared_error: 1.2561
Epoch 39/50
53/53 [==============================] - 1s 14ms/step - loss: 1.2457 - mean_squared_error: 1.2457
Epoch 40/50
53/53 [==============================] - 1s 14ms/step - loss: 1.2477 - mean_squared_error: 1.2477
Epoch 41/50
53/53 [==============================] - 1s 14ms/step - loss: 1.2621 - mean_squared_error: 1.2621
Epoch 42/50
53/53 [==============================] - 1s 12ms/step - loss: 1.2489 - mean_squared_error: 1.2489
Epoch 43/50
53/53 [==============================] - 1s 14ms/step - loss: 1.2351 - mean_squared_error: 1.2351
Epoch 44/50
53/53 [==============================] - 1s 14ms/step - loss: 1.2359 - mean_squared_error: 1.2359
Epoch 45/50
53/53 [==============================] - 1s 11ms/step - loss: 1.2457 - mean_squared_error: 1.2457
Epoch 46/50
53/53 [==============================] - 1s 13ms/step - loss: 1.2196 - mean_squared_error: 1.2196
Epoch 47/50
53/53 [==============================] - 1s 12ms/step - loss: 1.2404 - mean_squared_error: 1.2404
Epoch 48/50
53/53 [==============================] - 1s 12ms/step - loss: 1.2647 - mean_squared_error: 1.2647
Epoch 49/50
53/53 [==============================] - 1s 13ms/step - loss: 1.3609 - mean_squared_error: 1.3609
Epoch 50/50
53/53 [==============================] - 1s 14ms/step - loss: 1.3301 - mean_squared_error: 1.3301

In [20]:
prediction = model.predict(X_test)

In [21]:
prediction.shape

(214200, 3)

In [24]:
path = os.getenv('HOME')+'/Desktop/Changhee/changhee_git/Kaggle_contest/predict-future-sales/data/'

submission_path = join(path, 'sample_submission.csv')
submission = pd.read_csv(submission_path)
submission.head()

   ID  item_cnt_month
0   0             0.5
1   1             0.5
2   2             0.5
3   3             0.5
4   4             0.5

In [25]:
submission['item_cnt_month'] = prediction
submission.head()

   ID  item_cnt_month
0   0        0.497807
1   1       -0.053138
2   2        0.480263
3   3        0.032350
4   4       -0.053138

In [27]:
submission_csv_path = '{}/submission_{}.csv'.format(path, 'LSTM_changhee1')
submission.to_csv(submission_csv_path, index=False)
print(submission_csv_path)

/home/aiffel/Desktop/Changhee/changhee_git/Kaggle_contest/predict-future-sales/data//submission_LSTM_changhee1.csv